#prices
  h1= prices.title

  //- ul.league__list
    //- li
      //- button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--border-thick
        //- span= prices.free
    //- li
      //- button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--border-thick
        //- span= prices.pro

  .row.center-xs
    .col-xs-12
    for item in prices.items
      .col-lg-3.col-md-5.col-sm-6
        ul.league__prices
          li.price--item.panel
            .panel-heading.text--center
              p.subhead= item.value
                i.mdi.mdi-currency-btc
              h2= item.title
            .panel-body.text--center
              ul.league__prices--list
                for description in item.items
                  li= description
            .panel-footer
              button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--round-s.button--border-thick
                span= prices.buy

