.main
  include _news

  #works.feature
    .wrapper
      h1 #{ works.title }
      p #{ works.description }
      .feature__row
        for item, index in works.items
          .feature__cell
            .feature-item
                img(src='/assets/img/works/#{ index }.png').feature-item__img
                h2.feature-item__title= item.title
                p= item.description

  span.divider.btn--platform
    i.mdi.mdi-chevron-down
  #platform.feature

    .wrapper
      h1= platform.title
      h4= platform.description
      p= platform.description2
      br
      .feature__row
        for item  in platform.items.row1
          .feature__cell.card
            .feature-item
              .card__front.card__face
                .icon
                   i.mdi(class="#{ item.icon }")
                h2.feature-item__title= item.title
              .card__back.card__face
                .icon
                  i.mdi(class="#{ item.icon }")
                .feature-item__title= item.title
                hr
                .text= item.description
      br
      .feature__row
        for item  in platform.items.row2
          .feature__cell.card
            .feature-item
              .card__front.card__face
                .icon
                   i.mdi(class="#{ item.icon }")
                h2.feature-item__title= item.title
              .card__back.card__face
                .icon
                  i.mdi(class="#{ item.icon }")
                .feature-item__title= item.title
                hr
                .text= item.description

  span.divider.btn--worldcup
    i.mdi.mdi-chevron-down
  #prices
    .wrapper
      h1= prices.title

      ul.league__list
        li
          button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--border-thick
            span= prices.free
        li
          button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--border-thick
            span= prices.pro

      .feature__row
        for item in prices.items
          .feature__cell
            ul.league__prices
              li.price--item.panel
                .panel-heading.text--center
                  p.subhead= item.value
                    i.mdi.mdi-currency-btc
                  h2= item.title
                .panel-body.text--center
                  ul.league__prices--list
                    for description in item.items
                      li= description
                .panel-footer
                  button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--round-s.button--border-thick
                    span= prices.buy


  span.divider.btn--worldcup
    i.mdi.mdi-chevron-down
  #sport.shuffle-wrap
    .wrapper
      h1 Esportes
    #grid
      for item in sports
        .column
          .box
            img(src='#{item.url}' alt='gallery')
            figcaption
              img.iconsvg(src="assets/img/icons/sports_soccer.svg")

  span.divider.btn--worldcup
    i.mdi.mdi-chevron-down
  #worldcup.worldcup
   .wrapper
     h1= worldcup.title

     p!= worldcup.description
     hr
     .worldcup__row
       .worldcup__cell
         h3 Free
         table.free
           tr
             th #
             th.left Name
             th Points
             th GH*
             th RH*
             th W
           for player in worldcup.free
             tr
               td= player.position
               if !player.link
                 td.left= player.name
               else
                 td.left
                   a(href="#{ player.link }" title="Blockchain Transaction for #{ player.name }" target="_BLANK")
                     i.mdi.mdi-link-variant
                     span= player.name
               td= player.points
               td= player.gh
               td= player.gh
               td
                 if player.win === true
                   i.mdi.mdi-trophy
       .worldcup__cell
         h3 Pro
         table.pro
           tr
             th #
             th.left Name
             th Points
             th GH*
             th RH*
             th W
           for player in worldcup.pro
             tr
               td= player.position
               td.left
                 a(href="#{ player.link }" title="Blockchain Transaction for #{ player.name }" target="_BLANK")
                   i.mdi.mdi-link-variant
                   span= player.name
               td= player.points
               td= player.gh
               td= player.gh
               td
                 if player.win === true
                   i.mdi.mdi-trophy


  #faq
    ul.league__list
      li
        a.link-faq(href='#')
          button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--border-thick
            span FAQ
      li
        a.link-rules(href='#')
          button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-m.button--alt.button--border-thick
            span REGRAS
    div#page-2.container.page-transition
      img(src="/assets/img/logo.png")
      h2.title FAQ
      a.link-faq.close(href="#")
        i.mdi.mdi-close
      .content
        hr
        for item, key in faq.items
          h2.question= key
          h3.description!= item

    #loader.pageload-overlay(data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z")
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none")
        path(d="M30,30 50,30 50,30 30,30 Z")

    div#page-3.container.page-transition
      img(src="/assets/img/logo.png")
      h2.title Regras
      a.link-rules.close(href="#")
        i.mdi.mdi-close
      .content
        hr
        Regras

    #loader.pageload-overlay(data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z")
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none")
        path(d="M30,30 50,30 50,30 30,30 Z")


  span.divider.btn--whatis
    i.mdi.mdi-chevron-down
  #whatis.whatis
    .wrapper
      h1= whatis.title
      //Injecting video by javascript

  #beta.newsletter
    .newsletter__bg
      .wrapper
        h1= beta.title
        form.newsletter-form(method="POST" action="https://docs.google.com/forms/d/1VJAcj5lJmze6pnp9BnNAN13-0w35uDX7_DOzP9XRI6g/formResponse")
          span.input.input--kyo
            input.input__field.input__field--kyo(type="email" id="input" name="entry.2026444604" placeholder="#{ beta.email }" required)
            label.input__label.input__label--kyo(for="input")
              span.input__label-content.input__label-content--kyo
          button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-l.button--inverted-alt.button--round-s.button--border-thick(type="submit")
            span= beta.button

