.main
  include _news

  #works.feature
    .wrapper
      h1 #{ works.title }
      p #{ works.description }
      .feature__row
        for item, index in works.items
          .feature__cell
            .feature-item
                img(src='/assets/img/works/#{ index }.png').feature-item__img
                h2.feature-item__title= item.title
                p= item.description

  span.divider.btn--platform
    i.mdi.mdi-chevron-down
  #platform.feature

    .wrapper
      h1= platform.title
      h4= platform.description
      p= platform.description2
      br
      .feature__row
        for item  in platform.items.row1
          .feature__cell.card
            .feature-item
              .card__front.card__face
                .icon
                   i.mdi(class="#{ item.icon }")
                h2.feature-item__title= item.title
              .card__back.card__face
                .icon
                  i.mdi(class="#{ item.icon }")
                .feature-item__title= item.title
                hr
                .text= item.description
      br
      .feature__row
        for item  in platform.items.row2
          .feature__cell.card
            .feature-item
              .card__front.card__face
                .icon
                   i.mdi(class="#{ item.icon }")
                h2.feature-item__title= item.title
              .card__back.card__face
                .icon
                  i.mdi(class="#{ item.icon }")
                .feature-item__title= item.title
                hr
                .text= item.description

  span.divider.btn--worldcup
    i.mdi.mdi-chevron-down
  #worldcup.worldcup
   .wrapper
     h1= worldcup.title

     p!= worldcup.description
     hr
     .worldcup__row
       .worldcup__cell
         h3 Free
         table.free
           tr
             th #
             th.left Name
             th Points
             th GH*
             th RH*
             th W
           for player in worldcup.free
             tr
               td= player.position
               if !player.link
                 td.left= player.name
               else
                 td.left
                   a(href="#{ player.link }" title="Blockchain Transaction for #{ player.name }" target="_BLANK")
                     i.mdi.mdi-link-variant
                     span= player.name
               td= player.points
               td= player.gh
               td= player.gh
               td
                 if player.win === true
                   i.mdi.mdi-trophy
       .worldcup__cell
         h3 Pro
         table.pro
           tr
             th #
             th.left Name
             th Points
             th GH*
             th RH*
             th W
           for player in worldcup.pro
             tr
               td= player.position
               td.left
                 a(href="#{ player.link }" title="Blockchain Transaction for #{ player.name }" target="_BLANK")
                   i.mdi.mdi-link-variant
                   span= player.name
               td= player.points
               td= player.gh
               td= player.gh
               td
                 if player.win === true
                   i.mdi.mdi-trophy

  span.divider.btn--whatis
    i.mdi.mdi-chevron-down
  #whatis.whatis
    .wrapper
      h1= whatis.title
      object(style="width:100%" height="515" data="http://www.youtube.com/v/Gc2en3nHxA4")

  #beta.newsletter
    .newsletter__bg
      .wrapper
        h1= beta.title
        form.newsletter-form(method="POST" action="https://docs.google.com/forms/d/1VJAcj5lJmze6pnp9BnNAN13-0w35uDX7_DOzP9XRI6g/formResponse")
          span.input.input--kyo
            input.input__field.input__field--kyo(type="email" id="input" name="entry.2026444604" placeholder="#{ beta.email }" required)
            label.input__label.input__label--kyo(for="input")
              span.input__label-content.input__label-content--kyo
          button.button.button--antiman.button--primary.button--text-thick.button--text-upper.button--size-l.button--inverted-alt.button--round-s.button--border-thick(type="submit")
            span= beta.button

