.main
  include _news

  #works.feature
    .wrapper
      h1 COMO FUNCIONA?
      p Use todo o conhecimento esportivo, estratégia e sorte para tentar acertar o maior número de resultados, os melhores classificados nos ranking's trocam seus pontos por Bitcoins ao término dos eventos.
      .feature__row
        .feature__cell
          .feature-item
            img(src='assets/img/works/1.png').feature-item__img
            h2.feature-item__title Cadastre-se
            p Somos uma plataforma anônima mas que também permite a integração a outros canais sociais.
        .feature__cell
          .feature-item
            img(src='assets/img/works/2.png').feature-item__img
            h2.feature-item__title Adquira créditos
            p Selecione o pacote de crédito, faça o pagamento e em segundos comece a jogar.
        .feature__cell
          .feature-item
            img(src='assets/img/works/3.png').feature-item__img
            h2.feature-item__title Chute à vontade
            p Selecione o evento desejado, grave os teus palpites e dispute a melhor colocação no ranking.
        .feature__cell
          .feature-item
            img(src='assets/img/works/4.png').feature-item__img
            h2.feature-item__title Resgate seus prêmio
            p Os melhores classificados em cada evento dividem os Bitcoins acumulados no período do evento.

  #platform.feature
    .wrapper
      h1 NOSSA PLATAFORMA
      h3 A Bitkup é uma nova e excitante alternativa para o entretenimento esportivo.
      p Utilizamos a tecnologia do Bitcoin e sua rede para garantir total transparência e interoperabilidade em nossas transações, tanto para  recebimento, registro de previsões e pagamento dos prêmios, tudo muito transparente do início ao fim.
      br
      .feature__row
        .feature__cell.card
          .feature-item
            .card__front.card__face
              .icon
                i.mdi.mdi-currency-btc
              h2.feature-item__title Bitcoin
            .card__back.card__face
              .icon
                i.mdi.mdi-currency-btc
              .feature-item__title Bitcoin
              hr
              .text
                | Nós só trabalhamos com Bitcoin, a moeda mais segura do planeta e a que escolhemos para ser o nosso motor financeiro.
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-account
              h2.feature-item__title Anonimato
            .card__back.card__face
              .icon
                i.mdi.mdi-account
              .feature-item__title Anonimato
              hr
              .text
                | Ninguém precisa saber quem é você, somos anti-sociais na essência, não iremos jamais iremos compartilhar qualquer informação com terceiros.
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-security
              h2.feature-item__title Segurança
            .card__back.card__face
              .icon
                i.mdi.mdi-security
              .feature-item__title Segurança
              hr
              .text
                | Mantemos 90% dos fundos em carteiras frias e os 10% restantes permanecem em carteiras multi-assinadas é assegurada pela BitGO.
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-source-fork
              h2.feature-item__title Transparência
            .card__back.card__face
              .icon
                i.mdi.mdi-source-fork
              .feature-item__title Transparência
              hr
              .text
                | Todas as transações efetuadas em nossa plataforma são registradas na Blockchain e permaneceram visíveis e auditáveis por toda eternidade.
      br
      .feature__row
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-presentation-play
              h2.feature-item__title Múltiplos Eventos
            .card__back.card__face
              .icon
                i.mdi.mdi-presentation-play
              .feature-item__title Múltiplos Eventos
               hr
              .text
                | Cobertura dos maiores e menores eventos esportivos da terra, seja um torneio de futebol universitário, lutas de MMA ou algum evento especial.
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-numeric-9-plus-box-multiple-outline
              h2.feature-item__title Múltiplas Previsões
            .card__back.card__face
              .icon
                i.mdi.mdi-numeric-9-plus-box-multiple-outline
              .feature-item__title Múltiplas Previsões
              hr
              .text
                | Não limitamos sua previsão apenas ao placar ou resultado de um evento, exploramos outras variáveis e desafiaremos você a conquistar pontos extras.
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-sword
              h2.feature-item__title Desafie Oponentes
            .card__back.card__face
              .icon
                i.mdi.mdi-sword
              .feature-item__title Desafie Oponentes
              hr
              .text
                | Sentiu-se ameaçado diretamente por algum oponente? Proponha um desafio e tente retirar pontos dele e tomar o seu lugar no ranking.
        .feature__cell.card
          .feature-item
            .card__front.card__face
              h1.icon
                i.mdi.mdi-theater
              h2.feature-item__title Previsões ao Vivo
            .card__back.card__face
              .icon
                i.mdi.mdi-theater
              .feature-item__title Previsões ao Vivo
              hr
              .text
                | Altere previsões antes do início dos jogos e acompanhe o andamento ao vivo com a gente.

  #worldcup.worldcup
   .wrapper
     h1 EVENTOS PASSADOS - COPA DO MUNDO 2014

     p Durante os 50 dias de cobertura do evento recebemos mais de 600.000 visitantes únicos,  arrecadamos para o prêmio final 7.26 BTC’s, valendo U$4,492,34 em 13/7/2014 e aos quais 23 sortudos das Ligas FREE (3) e PRO (20) dividiram essa premiação.
     hr
     .feature__row
       .feature__cell
         h3 Free
       .feature__cell
         h3 Pro

     .feature__row.space__between
      table.free
        tr
          th #
          th.left Name
          th Points
          th GH*
          th RH*
          th W
        for player in worldcup.free
          tr
            td= player.position
            td.left= player.name
            td= player.points
            td= player.gh
            td= player.gh
            td
              if player.win === true
                i.mdi.mdi-trophy
      table.pro
        tr
          th #
          th.left Name
          th Points
          th GH*
          th RH*
          th W
        for player in worldcup.pro
          tr
            td= player.position
            td.left= player.name
            td= player.points
            td= player.gh
            td= player.gh
            td
              if player.win === true
                i.mdi.mdi-trophy


  #whatis.whatis
    .wrapper
      h1 O QUE É BITCOIN?
      iframe(style='width: 100%;' height='315' src='https://www.youtube.com/embed/Gc2en3nHxA4?showinfo=0' frameborder='0' allowfullscreen='')

  #beta.newsletter
    .newsletter__bg
      .wrapper
        h1 SOLICITAR ACESSO BETA
        p Lorem ipsum dolor sit amet.
        form.newsletter-form
          input(type='text' placeholder='Your email').newsletter-form__input.input
          button(type='submit').newsletter-form__btn.btn.btn--blue Subscribe
